:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3d1c31;
    --cor-terciaria: #fdace0;
    --branco: white;
    --preto: black;
}

* {
    font-family: "Oswald-medium", sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav a {
    color: var(--preto);
}

.conteudo {
    display: grid;
    grid-template-columns: 20% 80%;
}

.part1 {
    background-color: var(--cor-terciaria);
    width: 90%;
    margin-bottom: 0;
}

.checklist {
    margin: 17%;
    font-size: 1.2rem;
}

.part2 {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.elements {
    flex-direction: column;
}

h1 {
    margin: 7%;
}

.titulo1 {
    margin: 5% 1% 1% 7%;
    padding: 0.75%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-secundaria);
}

.card-img img {
    border-radius: 8px 8px 00;
}

.card-container {
    color: var(--branco);
    padding: 1rem;
    text-align: center;
}