/* header ludofashion */
:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3d1c31;
    --cor-terciaria: #fdace0;
    --branco: white;
    --preto: black;
}

* {
    font-family: "Oswald-medium", sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav a{
    color: var(--preto);
}
/* Estilo para o painel de controle */
.card {
    border-radius: 0.3rem;
}

.card-header {
    font-size: 1.25rem;
    background-color: var(--cor-primaria);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.titulo-painel {
    color: var(--preto);
}

.card-body {
    background-color:var(--cor-terciaria);
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    margin-top: 0;
}

.card-title {
    font-size: 1.125rem;
}

.card-text {
    font-size: 2rem;
}

/* Painel de controle */
.container-fluid {
    margin: 2rem;
}

/* Estilo para os botões */
.btn-topo {
    display: flex;
    justify-content: space-between;
}

.btn-edicao {
    display: flex;
    justify-content: space-between;
}

.btn-success {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
    color: var(--preto);
}

.btn-success:hover {
    border-radius: 5px;
    padding: 10px;
    color: var(--branco);
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.btn-warning {
    border-radius: 3px;
    padding: 6px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: var(--preto);
}

.btn-warning:hover {
    border-radius: 3px;
    padding: 6px;
    color: var(--branco);
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.btn-danger {
    border-radius: 5px;
    padding: 10px;
    color: var(--branco);
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    cursor:pointer
}

.btn-danger:hover {
    border-radius: 5px;
    padding: 10px;
    color: var(--branco);
    background-color: var(--preto);
    border-color: var(--preto);

}

/* Estilo para a tabela */
.table {
    margin-top: 1rem;
    width: 100%;
}


.table th, .table td {
    text-align: center;
}

.table th {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 1rem;
    border-radius: 0.3rem;
}

table td {
    padding: 1rem;
    border: 1px solid var(--cor-terciaria);
}

/* Estilo para as imagens dos produtos */
table tbody tr td img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
}

/* input { Altera o search
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
} */

